.scroll-wrapper {
  height: 667px;
  overflow: hidden;
  position: relative;
}

.pulldown-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  color: #999;

  .after-trigger {
    margin-top: 10px;
  }

  .loading {
    text-align: center;
  }
}

.pullup-wrapper {
  padding: 20px;
  text-align: center;
  color: #999;
}
